@import url(../css/config.css);

body{
    background: var(--main-color-middle);
}

.header{
	background: var(--main-color-middle) !important;
}


.custom-flashcard .title {
    font-size: 32pt;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    margin: 50px 0;
}

.flashcard-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    flex-direction: row;
}

.front, 
.back{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin: 10px 20px;
}

.back{
    width: 300px;
}

.flashcard-form input,
.flashcard-form textarea {
    width: 90%;
    outline: none;
    border: none;
    padding: 10px 15px;
    background: transparent;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.559);
    border-radius: 12px;
    margin: 10px 0;
}

.flashcard-form input::-webkit-input-placeholder, .flashcard-form textarea::-webkit-input-placeholder {
    color: #383838b3;
}

/* .flashcard-form input:is(:focus)::-webkit-input-placeholder,
.flashcard-form textarea:is(:focus)::-webkit-input-placeholder {
    color: black;
} */

.flashcard-form input:is(:focus), .flashcard-form textarea:is(:focus) {
    border-color: black;
    border-width: 3px;
}

.flashcard-form .image-upload::-webkit-file-upload-button {
    visibility: hidden;
}

.flashcard-form .image-upload{
    width: 350px;
    height: 400px;
}

.flashcard-form .image-upload::before {
    width: 100%;
    content: "Upload your image here";
    align-content: center;
    text-align: center;
    display: inline-block;
    color: rgb(76, 76, 76);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 0px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
}

.flashcard-form .image-upload:hover::before {
    color: black;
    border-color: black;
    /* box-shadow: 1px 1px #fff; */
}

.flashcard-form .image-upload:active::before {
    color: white;
    border: none;
    background: -webkit-linear-gradient(top, var(--main-color-middle), var(--main-color-dark));
}

.flashcard-form .image-upload::after{
    content: '';
    display: block;
    background-image: var(--uploadedImage);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    object-fit: cover;
}

.flashcard-form .word{
    width: 300px;
    text-align: center;
    font-size: 24pt;
    font-family: 'Racing Sans One', cursive;
}

.flashcard-form .word-type{
    font-family: 'Poppins', sans-serif;
}

.flashcard-form .meaning{
    resize: none;
    height: 300px;
    text-align: justify;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.flashcard-form .meaning::-webkit-scrollbar {
    width: 0px;
}

.flashcard-form .submit-button{
    width: 60px;
    height: 60px;
    /* padding: 8px 30px; */
    padding-top: 10px;
    font-family: "Lobster", cursive;
    font-size: 22pt;
    background-color: var(--main-color-dark);
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 20px 3px;
}

.flashcard-form .submit-button:hover {
    box-shadow: inset -4px -4px 6px #753a1e, 4px 4px 0 var(--main-color-middle);
}