@import url(./config.css);
/* The front tone of the card is mainly bright/warm while the back's color is dark/cold */

body{
    background: var(--main-color-light);
}

textarea {
	resize: none;
    width: 90%;
    outline: none;
    border: none;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid #ffffffa2;
    border-radius: 12px;
    margin: 10px 0;
}

textarea::-webkit-scrollbar {
    color: rgba(255,255,255,0.3);
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards-slider{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashcard{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -999;

    width: 400px;
    height: 420px;
    margin: 0 40px;
    box-shadow: 7px 7px 0 #00000035;
    transform-style: preserve-3d;
    transition: all .6s ease;
}

.flashcard:hover{
    transform: rotateY(180deg);
}

.flashcard .front, .flashcard .back{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: white;

    position: absolute;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    backface-visibility: hidden;
}

.flashcard .front {
    /* background-color: var(--main-color-light); */
}

.flashcard .back{
    /* background-color: var(--sub-color-middle); */
    transform: rotateY(180deg);
}

.flashcard .front .card-container,
.flashcard .back .card-container {
    width: 93%;
    margin-top: 10px;
    height: 75%;
    
    /* border-radius: 2px; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flashcard .front .card-container{
    border: 2px solid black;
}

.flashcard .back .card-container {
    height: 100%;
    overflow: hidden;
    /* border: 3px solid var(--sub-color-dark); */
}

.flashcard .front .img-container{
    /* margin-bottom: 1rem; */
    overflow:hidden;
}

.front .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: saturate(70%); */
}

.flashcard .front .word {
    height: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--main-color-dark);
    font-size: 36pt;
    font-family: 'Racing Sans One', cursive;
}

.flashcard .back .word-type{
    font-size: 28pt;
    color: var(--sub-color-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.flashcard .back .meaning {
    font-size: 21pt;
    color: var(--sub-color-middle);
    text-align: center;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    max-height: 90%;
}

.cards-slider .swipe-left, 
.cards-slider .swipe-right{
	z-index: 999;
    height: 80px;
}

.cards-slider .swipe-left:hover,
.cards-slider .swipe-right:hover {
    height: 90px;
    margin-right: -10px;
    cursor: pointer;
    filter: brightness(1.5);
}

.hide-card{
	opacity: 0;
}

/* @keyframes swipeLeft {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
} */

.flashcard.disappear-left{
	transform: translateX(-200px);
	opacity: 0;
	/* z-index: -999 !important; */
}

.flashcard.appear-left{
	opacity: 1;
	display:flex;
}


.flashcard.swipe-right {
    transform: translateX(200px);
    opacity: 1;
}

.add-section{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-section .add-button{
	display:flex;
	justify-content: center;
	align-items: center;
    width: 80px;
    height: 80px;
    background: var(--main-color-dark);
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 28pt;
    border-radius: 50%;
    box-shadow: 4px 4px 0 var(--main-color-middle);
    margin-bottom: 80px;
    z-index: 999;
}

.add-section .add-button:hover {
    /* box-shadow: inset 4px 4px 0 #753a1e, 4px 4px 0 var(--main-color-middle); */
    box-shadow: inset -4px -4px 6px #753a1e, 4px 4px 0 var(--main-color-middle);
}

.add-section .dash-arrow{
	position: absolute;
	right: 37.5%;
	bottom: 14.5%;
	
	height: 180px;
	
}