@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@400;700&display=swap");

@import url("../css/config.css");

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "Source Sans Pro", sans-serif;

  --clr-neutral-100: #fff;
  --clr-neutral-300: #ddd;
  --clr-neutral-500: #555555;
  --clr-neutral-800: #111827;
  --clr-primary: #041964;

  --transition: 250ms ease-in-out;
}


*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: var(--main-color-light);
  font-family: var(--ff-primary);
  line-height: 1.5;
  font-size: 1rem;
}
.container{
  padding-top: 20px;
  padding-left: 30px;
  display: grid;
  row-gap: 20px;
  column-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
	
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  display: grid;
  position: relative;

  width: min(100% - 2rem, 380px);
  background-color:   #f6aa67;

  overflow: hidden;
  border-radius: 0.8em;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.card:is(:hover, :focus) {
  transform: translateY(-5px);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.card:focus-visible {
  outline: 2px dashed;
  outline-offset: 0.4em;
}

.card__img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  aspect-ratio: 16 / 9;
}

/* image overlay */
.card__img-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 1;
  transition: var(--transition);
}

.card__tags {
  --_pad: 10px;
  position: absolute;
  inset: var(--_pad) var(--_pad) auto var(--_pad);

  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 0.25em;
  opacity: 0;
  transition: var(--transition);
}

.card__tag {
  display: inline-block;
  padding: 0.1em 0.5em;

  font-size: 14px;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.6);
  color: var(--clr-neutral-100);
  border-radius: 5px;
  z-index: 2;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__body {
  padding: 1em 1.5em;
}

.card__title {
  margin: 0;
  font-size: 1.25rem;
  text-transform: capitalize;
  color:  #284b59;
}

.card__date {
  font-size: 0.875rem;
  color: var(--clr-neutral-500);
}

.card__cta {
  position: relative;
  width: fit-content;
  margin-top: auto;
  color: #284b59;
}

/* underline */
.card__cta::before {
  content: "";
  position: absolute;
  inset: 100% 0 0 0;
  height: 2px;
  color: #284b59;
  background-color: #284b59;
  transition: var(--transition);
  transform-origin: right;
}


/* image overlay */
.card:is(:hover, :focus) .card__img-container::before {
  opacity: 1;
}

/* remove underline */
.card:is(:hover, :focus) .card__cta::before {
  transform: scale(0);
}


/* show tag */
.card:is(:hover, :focus) .card__tags {
  opacity: 1;
}

.container{
  margin-top: 20px;
  display:grid;
  row-gap: 20px;
  column-gap: 5px;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
}
